<div class="container">
    <div class="container users-container">
        <table class="table table-bordered table-striped table-hovered table-condensed" ng-hide="vm.detailed">
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
            <tr ng-repeat="user in vm.users">
                <td ng-if="!editing;" style="cursor: pointer;" ng-click="vm.showDetails(user)">{{user.name}}</td>
                <td ng-if="!editing;" style="cursor: pointer;" ng-click="vm.showDetails(user)">{{user.age}}</td>
                <td ng-if="editing;">
                    <input type="text" ng-model="user.name" class="form-control" style="width:100%;">
                </td>
                <td ng-if="editing;">
                    <input type="number" ng-model="user.age" class="form-control" style="width:100%;">
                </td>
                <td>
                    <button class="btn btn-warning" ng-hide="editing" ng-click="editing=!editing;">Edit</button>
                    <button ng-hide="editing" class="btn btn-danger" ng-click="vm.deleteUser(user);">Delete</button>

                    <button class="btn btn-success" ng-hide="!editing" ng-click="vm.updateUser(user); editing=false;">Save</button>
                    <button class="btn btn-primary" ng-hide="!editing" ng-click="editing=!editing;">Back</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary btn-md" ng-disabled="vm.addUserFlag" ng-click="vm.addUserFlag=!vm.addUserFlag;" ng-hide="vm.detailed">Add User</button>
    </div>
    <div class="container create-users" ng-hide="!vm.addUserFlag;">
        <div class="form-group">
            <label for="name">Name</label>
            <input requried type="text" id="name" style="width:250px;" class="form-control" ng-model="vm.user.name"></input>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input requried type="number" id="age" style="width:250px;" class="form-control" ng-model=vm.user.age></input>
        </div>

        <button class="btn btn-success" ng-click="vm.addUser(vm.user);" ng-disabled="!vm.user.name || !vm.user.age">Add</button>
        <button class="btn btn-primary" ng-click="vm.addUserFlag=false;">Back</button>
    </div>

    <div class="container details-container" ng-if="vm.detailed === true">
        <div class="jumbotron">
            <div class="close" style="font-size: 25px; color: black;" ng-click="vm.detailed = false;">X</div>
            <h3>You are vieweing details of "{{vm.detailedUser.name}}"</h3>
            <h3>_id = {{vm.detailedUser._id}}</h3>
            <h3>Age = {{vm.detailedUser.age}}</h3>
        </div>
    </div>
</div>